<% layout('layouts/boilerplate') %>

<%- include('../partials/common_banner', { pageTitle: 'News' }) %> 

    <!-- News Area -->
    <section id="news_details_main_arae" class="section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">                    
                    <div class="news_detail_wrapper">
                        <div class="news_details_content_area">
                            <img src="/<%= newsdetail.image %>" alt="img">
                        </div>
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <div class="news_details_content_area news_details_content_tops">
                                    <div class="news_details_four_heading">
                                        <div class="new_four_card_lists">
                                            <ul>
                                                <li><i class="fas fa-circle"></i><span><%= newsdetail.Tag %></span></li>
                                                <li><i class="fas fa-circle"></i><span class="text-custom"><%= formatDate(newsdetail.Date) %></span></li>
                                                <% if (newsdetail.author) { %>
                                                            <li><i class="fas fa-circle"></i><span class="text-custom"><%= newsdetail.author %></span></li>
                                                                <% } %>
                                            </ul>
                                        </div>
                                        <h2 class="text-custom"><%= newsdetail.Title %></h2>
                                    </div>
                                   
                                    <%- newsdetail.Detail %>

                                    <% if (newsdetail.image1 || newsdetail.image2) { %>
                                        <div class="row">
                                            <% if (newsdetail.image1) { %>
                                            <div class="col-lg-6">
                                                <div class="news_details_left_img">
                                                    <img src="/<%= newsdetail.image1 %>" alt="img">
                                                </div>
                                            </div>
                                            <% } %>  
                                            <% if (newsdetail.image2) { %>
                                            <div class="col-lg-6">
                                                <div class="news_details_left_img">
                                                    <img src="/<%= newsdetail.image2 %>" alt="img">
                                                </div>
                                            </div>
                                            <% } %>  
                                        </div>   
                                    <% } %>                    
                                </div>
                                <!-- <div class="download_pdf_area">
                                    <div class="downloads_pdf_icon">
                                        <img src="assets/img/icon/pdf.png" alt="icon">
                                        <h3>Travel guide for explorer.pdf</h3>
                                    </div>
                                    <div class="downloads_pdf_button">
                                        <button class="btn btn_theme btn_md">Download pdf</button>
                                    </div>
                                </div> -->
                                <!-- <div class="comment_area">
                                    <h3>2 Comments</h3>
                                    <div class="comment_area_boxed">
                                        <div class="comment_img">
                                            <img src="assets/img/news/comment.png" alt="img">
                                        </div>
                                        <div class="comment_text">
                                            <div class="comment_author_name">
                                                <h4>James martin</h4>
                                                <a href="#!"> <i class="fas fa-reply-all"></i> Reply</a>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum. There are
                                                many variations of passages of Lorem Ipsum available but the majority.</p>
                                        </div>
                                    </div>
                                    <div class="comment_area_boxed">
                                        <div class="comment_img">
                                            <img src="assets/img/news/comment.png" alt="img">
                                        </div>
                                        <div class="comment_text">
                                            <div class="comment_author_name">
                                                <h4>James martin</h4>
                                                <a href="#!"> <i class="fas fa-reply-all"></i> Reply</a>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, cibo mundi ea duo, vim exerci phaedrum. There are
                                                many variations of passages of Lorem Ipsum available but the majority.</p>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="comment_area_form">
                                    <h3>Leave a comment</h3>
                                    <form action="!#" id="news_comment_form">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-froup">
                                                    <input type="text" class="form-control bg_input"
                                                        placeholder="Enter full name">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-froup">
                                                    <input type="text" class="form-control bg_input"
                                                        placeholder="Enter email address">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="form-froup">
                                                    <textarea rows="6" placeholder="Write your comments"
                                                        class="form-control bg_input"></textarea>
                                                </div>
                                                <div class="comment_form_submit">
                                                    <button class="btn btn_theme btn_md">Post comment</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div> -->
                            </div>
                        </div>                       
                    </div>                    
                </div>
            </div>
        </div>
    </section> 