<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title -->
    <title>Home - Veda Vonager</title>
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="/frontend/css/bootstrap.min.css">
    <!-- animate css -->
    <link rel="stylesheet" href="/frontend/css/animate.min.css">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="/frontend/css/fontawesome.all.min.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap JS (for close button functionality) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- popup css -->
    <link rel="stylesheet" href="/frontend/css/popup.css">
    <!-- owl.carousel css -->
    <link rel="stylesheet" href="/frontend/css/owl.carousel.min.css">
    <!-- owl.theme.default css -->
    <link rel="stylesheet" href="/frontend/css/owl.theme.default.min.css">
    <!-- navber css -->
    <link rel="stylesheet" href="/frontend/css/navber.css">
    <!-- meanmenu css -->
    <link rel="stylesheet" href="/frontend/css/meanmenu.css">
    
    <!-- Responsive css -->
    <link rel="stylesheet" href="/frontend/css/responsive.css">

    <link rel="stylesheet" href="/frontend/css/dropdown.css">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/frontend/img/favicon.png">

    <!-- Required in tour-search -->
    <link rel="stylesheet" href="/frontend/css/nouislider.css" /> 

    <!-- Style css -->
    <link rel="stylesheet" href="/frontend/css/style.css">

    <!-- Required in tour-search -->
    <link rel="stylesheet" href="/frontend/css/custom.css" /> 

    <link rel="stylesheet" href="/frontend/css/blog.css" /> 

    <!-- tour detail  -->
    <!-- Slick css -->
    <link rel="stylesheet" type="text/css" href="/frontend/css/slick.min.css" />
    <!--slick-theme.css-->
    <link rel="stylesheet" type="text/css" href="/frontend/css/slick-theme.css" />

</head>

<body>
    <!-- preloader Area -->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Header Area -->
    <header class="main_header_arae">
        <%- include('../partials/topbar')%>
        <%- include('../partials/navbar')%>
    </header>

    
    <%- body %>

    <%- include('../partials/contact')%>

    <%- include('../partials/footer')%>

    <%- include('../partials/copyright')%>

    <%- include('../partials/gotop')%>

    <script src="/frontend/js/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/frontend/js/bootstrap.bundle.js"></script>
    <!-- Meanu js -->
    <script src="/frontend/js/jquery.magnific-popup.min.js"></script>
    <!-- Meanu js -->
    <script src="/frontend/js/jquery.meanmenu.js"></script>

    <!-- tour-search.ejs  -->
    <!-- Range js -->
    <script src="/frontend/js/nouislider.min.js"></script>

    <!-- tour-search.ejs  -->
    <script src="/frontend/js/wNumb.js"></script>

    <!-- owl carousel js -->
    <script src="/frontend/js/owl.carousel.min.js"></script>
    <!-- wow.js -->
    <script src="/frontend/js/wow.min.js"></script>
    <!-- Custom js -->
    <script src="/frontend/js/custom.js"></script>
    <script src="/frontend/js/add-form.js"></script>
    <script src="/frontend/js/video.js"></script>

    <!-- Tour-search.ejs  -->
    <script src="/frontend/js/form-dropdown.js"></script>

    <!-- tour detail  -->
    <!-- Slick js -->
    <script src="/frontend/js/slick.min.js"></script>
    <script src="/frontend/js/slick-slider.js"></script>     
</body>

</html>